<div class="col-xs-6 col-md-4">
  <div class="card cardBlock class-3">
    <div class="front">
      <div class="body">
        <h3 class="name lined srname">{{ spell.spell_name }}</h3>
        <ul class="status lined">
          <li><em>casting time</em>{{ spell.casting_time }}</li>
          <li class="second"><em>range</em>{{ spell.range }}</li>
        </ul>
        <ul class="status lined">
          <li><em>components</em>{{ spell.components }}</li>
          <li class="second small"><em>duration</em>{{ spell.duration }}</li>
          <br clear="all">
        </ul>
        <p class="text">{{ spell.description }}</p>
      </div>
      <b class="class srclass">{{ spell.caster_class }}</b>
      <b class="type srtype">{{ spell.school }}</b>
    </div>
  </div>
</div>
